.footer-style {
    width: 100%;
    padding: 4rem 0 .75rem;
    height: 30%;

    .footer-p{
        text-align: center;
        margin: 10px;
    }

    .copyright {
        @include m-text($s-text * 0.75, 500, 1.15, 1px, rgba($lightness, 0.5));
        text-transform: uppercase;
        text-align: center;
    }
}
