$size-button: 45px;
$bgs: (1:darken($orange, 10%), 2:$color-red, 3:$color-green, 4:$color-blue);

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $darkness;
    z-index: 3;
    transition: 1s ease background;
}

.navbar-container-s {
    @include m-display (flex, row, stretch, center);
    @include m-text($s-text + 4px, normal, 1, 1, $orange);
    width: 100%;
    padding: 0.5rem;

    .navbar-button {
        @include m-display (flex, row, center, center);
        background: none;
        border: none;
        color: $orange;
        border-radius: 100px;
        width: $size-button;
        height: $size-button;
    }

    .social-media {
        @include m-display (flex, row, space-between, center);
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        margin-left: auto;

        .s-media-item {
            @include m-display (flex, row, center, center);
            border-radius: 100px;
            width: $size-button;
            height: $size-button;

            .s-m-link {
                text-decoration: none;
                color: $orange;
            }
        }
    }
}

.offcanvas {
    border: none;
    overflow: visible;
    background: none;
    height: 45vh;
    transition: .5s ease all;

    .offcanvas-body {
        @include m-display (flex, column, stretch, start);
        overflow: hidden;
        padding: 0;
        margin: 0 20px 20px 20px;

        .oc-corner {
            @include m-display (flex, row, space-between, start);
            margin-bottom: 5px;

            span {
                width: 10px;
                height: 10px;
                margin: 3px;
                border-radius: 1000px;
                background: $orange;

                &:nth-child(2) {
                    background: $color-red;
                }

                &:nth-child(3) {
                    background: $color-blue;
                }
            }
        }

        .oc-panel {
            @include m-display (flex, column, space-between, center);
            background: rgba($lightness, 0.7);
            backdrop-filter: blur(5px);
            height: 100%;
            width: 100%;
            border-radius: 10px;
            overflow: hidden
        }

        .oc-list-item {
            @include m-display (flex, row, center, center);
            flex-wrap: wrap;
            flex: 1;
            width: 100%;
            list-style: none;
            padding: 1.25rem;
            margin: 0;

            .oc-item {
                @include m-display (flex, column, center, center);
                width: 50%;
                padding: 0.5rem;

                .oc-link {
                    @include m-display (flex, row, center, center);
                    @include m-text($s-text+4px, normal, 1, 1, $darkness);
                    width: $size-button + 10px;
                    height: $size-button + 10px;
                    border-radius: 1000px;
                    margin: 5px;
                    overflow: hidden;
                    position: relative;

                    span {
                        z-index: 2;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: 50%;
                        height: 100%;
                        bottom: 0;
                        left: 0;
                        background: rgba($lightness, 0.1);
                    }
                }

                @each $number,
                $backgr in $bgs {
                    .oc-link-#{$number} {
                        background: $backgr;
                    }
                }

                .oc-span {
                    @include m-text($s-text - 4px, normal, 1, 1, $darkness)
                }
            }
        }

        .oc-button {
            @include m-display (flex, row, center, center);
            border-radius: 100px;
            background: none;
            border: none;
            font-size: 1rem;
            color: rgba($lightness, 0.5);
        }
    }
}

.offcanvas-backdrop {
    background: rgba($darkness, 0.7) !important;
    backdrop-filter: blur(5px) !important;

    &.show {
        opacity: 1 !important;
    }
}


// Menu Desktop

.menu-desktop {

    .m-brand {
        text-decoration: none;
        width: 45px;
        height: 45px;
        overflow: hidden;
        
        img {
            width: 100%
        }
    }

    .m-list {
        @include m-display(flex, row, center, center);
        margin-left: auto;

        .m-item {
            padding: 1rem;

            .m-link {
                text-decoration: none;
                color: rgba($lightness, 0.7);
            }
        }


    }
}