.btn-styler {
    @include m-display (flex, row, center, center);
    @include m-text ($s-text-title, bold, 1, 2px, $orange);
    border: 3px solid $orange;
    border-radius: 50px;
    height: $s-text-title + 16px;
    width: max-content;
    padding: 0.25rem 0.75rem;
    margin: 10px 0;
    background: none;
    text-decoration: none;
    cursor: pointer;

    span {
        margin-bottom: 5px;
    }

    @media (min-width: 992px) {
        @include m-text ($s-text-title * 1.75, bold, 1, 2px, $orange);
        height: (($s-text-title * 1.75) + 16px);
    }
}
