.btn-styler {
    @include m-display (flex, row, center, center);
    @include m-text ($s-text-title, bold, 1, 2px, $orange);
    border: 3px solid $orange;
    border-radius: 50px;
    height: $s-text-title + 14px;
    width: max-content;
    padding: 0.25rem 0.75rem;
    margin: 10px 0 20px;
    background: none;
    text-decoration: none;
    cursor: pointer;

    span {
        margin-bottom: 5px;
    }
}

.btn-mobile {
    @include m-display (flex, row, center, center);
}