/****************************************/
/*               RESET                  */
/****************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/****************************************/
/*               COLORS                 */
/****************************************/

$darkness: rgba(0 0 0 / 1);
$lightness: rgba(255 255 255 / 1);
$orange: rgba(255 164 56 / 1);
$color-red: rgb(255, 60, 0);
$color-green: rgb(80, 200, 0);
$color-blue: rgb(0, 126, 245);

/****************************************/
/*               MIXINS                 */
/****************************************/

@mixin m-display ($display, $direction, $eje-x, $eje-y) {
    display: $display;
    flex-direction: $direction;
    justify-content: $eje-x;
    align-items: $eje-y;
}

@mixin m-text ($size, $weight, $height, $spacing, $color) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
    color: $color;
}

/****************************************/
/*               TEXT                   */
/****************************************/

$s-text-supertitle: 30px;
$s-text-title: 20px;
$s-text-subtitle: 18px;
$s-text: 15px;

@if expr {
    
}
@media (min-width: 992px) {

    $s-text-supertitle: 70px;
    $s-text-title: 30px;
    $s-text-subtitle: 25px;
    $s-text: 16px;

}

/****************************************/
/*             CAROUSEL                 */
/****************************************/

$width-item: 10rem;

