/*_________________ GENERAL ____________________*/
/****************************************/
/*               RESET                  */
/****************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

/****************************************/
/*               COLORS                 */
/****************************************/
/****************************************/
/*               MIXINS                 */
/****************************************/
/****************************************/
/*               TEXT                   */
/****************************************/
/****************************************/
/*             CAROUSEL                 */
/****************************************/
/*_________________ TEXT _______________________*/
/*_________________ BUTTONS ____________________*/
.btn-styler {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 2px;
  color: #ffa438;
  border: 3px solid #ffa438;
  border-radius: 50px;
  height: 36px;
  width: max-content;
  padding: 0.25rem 0.75rem;
  margin: 10px 0;
  background: none;
  text-decoration: none;
  cursor: pointer;
}
.btn-styler span {
  margin-bottom: 5px;
}
@media (min-width: 992px) {
  .btn-styler {
    font-size: 35px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 2px;
    color: #ffa438;
    height: 51px;
  }
}

/*_________________ SCROLLBAR __________________*/
/*--Soporte Google Chrome--*/
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background: none;
}
body::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 100px;
}

/*_________________ EFFECTS ____________________*/
.h-home-2 {
  height: 200px;
}

.wrapper-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  transform: translateY(-30%);
  overflow: hidden;
  width: 100%;
}
.wrapper-carousel .slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
.wrapper-carousel .slider .slide-item {
  width: 10rem;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 0.5rem;
}
.wrapper-carousel .slider .slide-item img {
  width: 100%;
}
@media (min-width: 992px) {
  .wrapper-carousel .slider .slide-item {
    width: 15rem;
  }
}
.wrapper-carousel .slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  animation: slideshow 20s linear infinite;
}

.slider::before,
.slider::after {
  height: 100%;
  width: 45%;
  position: absolute;
  content: "";
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (min-width: 992px) {
  .slide-item {
    width: 30rem;
  }
}
@media (min-width: 768px) {
  body {
    position: relative;
    cursor: none;
  }

  #cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #ffffff;
    pointer-events: none;
    transform: translate(-100%, -100%);
    mix-blend-mode: difference;
    transform-origin: 80% 80%;
    transition: transform 0.3s ease-in-out;
    animation: borderAnim 1s linear infinite;
    animation-name: none;
    z-index: 10;
  }
}
@keyframes borderAnim {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  25% {
    border-radius: 64% 36% 72% 28%/35% 60% 40% 65%;
  }
  50% {
    border-radius: 46% 54% 38% 62%/66% 38% 62% 34%;
  }
  75% {
    border-radius: 64% 36% 72% 28%/35% 60% 40% 65%;
  }
  100% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
}
/*_________________ VIEWS ______________________*/
.h-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.h-home .title-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.h-home .title-presentation .title-headline {
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 2px;
  color: #ffa438;
  margin: 3px 0;
  text-align: start;
}
.h-home .title-presentation .title-headline span:nth-child(2) {
  color: white;
}
.h-home .title-presentation .title-first {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 2px;
  color: white;
  text-align: start;
  margin: 3px 0;
  width: max-content;
}
.h-home .title-presentation .title-under-line {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 2px;
  color: #ffa438;
  text-align: start;
  margin: 3px 0;
  padding: 0;
  font-weight: normal;
}
.h-home .title-presentation .title-under-line span {
  font-weight: bold;
}
.h-home .title-presentation .number-one {
  position: absolute;
  transform: translateX(-100%);
}
.h-home .title-presentation .number-one span {
  font-size: 280px;
  color: #e19c4d28;
  position: relative;
  text-align: end;
  line-height: 1;
  font-weight: bold;
}
@media (min-width: 992px) {
  .h-home .title-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .h-home .title-presentation .title-headline {
    font-size: 40px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 2px;
    color: #ffa438;
  }
  .h-home .title-presentation .title-first {
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 2px;
    color: white;
  }
  .h-home .title-presentation .title-under-line {
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 2px;
    color: #ffa438;
  }
}
.h-home .avatar-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.h-home .avatar-image img {
  width: 80%;
}

.paneltop {
  padding-top: 4rem;
}

.a-about .a-about-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.a-about .a-about-description .a-title {
  font-size: 34.5px;
  font-weight: bold;
  line-height: 1.15;
  letter-spacing: 1.5px;
  color: #ffa438;
  text-align: center;
}
.a-about .a-about-description .a-text {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0.5px;
  color: white;
  margin-bottom: 0.5rem;
}
.a-about .grid-skills {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 3rem 2rem 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.a-about .grid-skills img {
  width: 100%;
}
.a-about .grid-skills .title-up {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.1);
}
@media (min-width: 992px) {
  .a-about .a-about-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .a-about .a-about-description .a-title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.15;
    letter-spacing: 1.5px;
    color: #ffa438;
    text-align: left;
    margin-bottom: 1rem;
  }
  .a-about .a-about-description .a-text {
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: 0.5px;
    color: white;
    margin-bottom: 1rem;
  }
  .a-about .grid-skills {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    height: 100%;
  }
  .a-about .grid-skills img {
    max-width: 100px;
  }
}

.btn-mobile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.btn-mobile .bt-corner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-right: 5px;
}
.btn-mobile .bt-corner span {
  width: 10px;
  height: 10px;
  margin: 3px;
  border-radius: 1000px;
  background: #ffa438;
  opacity: 0.5;
}
.btn-mobile .bt-corner span:nth-child(2) {
  background: #ff3c00;
}
.btn-mobile .bt-corner span:nth-child(3) {
  background: #007ef5;
}

.s-w .s-w-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: #ffa438;
}
.s-w .s-w-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.s-w .s-w-grid .s-w-card {
  width: 48%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: rgba(255, 164, 56, 0.1);
  position: relative;
  transition: 2s ease all;
}
.s-w .s-w-grid .s-w-card h3 {
  font-size: 15px;
  text-align: center;
}
.s-w .s-w-grid .s-w-card ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  align-self: flex-end;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
}
.s-w .s-w-grid .s-w-card ul li {
  padding: 0.5rem;
}
.s-w .s-w-grid .s-w-card:hover {
  background: linear-gradient(45deg, white -10%, #ffa438 50%, #ff3c00 180%);
  transition: 2s ease all;
}

.panel-int {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.c-panel {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.contact-style {
  width: 100%;
  margin-bottom: 5rem;
  transition: color 0.5s;
  position: relative;
  background: #191919;
  z-index: 2;
}
.contact-style::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(45deg, #381e00, black);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
  z-index: -1;
}
.contact-style .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem 0;
}
.contact-style .contact .contact-title {
  font-size: 45px;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: 1.75px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  transition: 0.5s color;
}
.contact-style .contact .contact-card {
  position: relative;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.15;
  letter-spacing: 1;
  color: white;
}
.contact-style .contact .contact-card p {
  margin: 7px auto;
  text-align: center;
}
.contact-style .contact .contact-card p:nth-child(1) {
  font-size: 17.25px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 1px;
  color: #ffa438;
}
@media (min-width: 992px) {
  .contact-style .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contact-style .contact .contact-title {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.15;
    letter-spacing: 1.75px;
    color: transparent;
  }
  .contact-style .contact .contact-card {
    position: relative;
    font-size: 22.5px;
    font-weight: normal;
    line-height: 1.15;
    letter-spacing: 1;
    color: white;
    padding-right: 1rem;
  }
  .contact-style .contact .contact-card p {
    margin: 7px auto;
    text-align: right;
  }
  .contact-style .contact .contact-card p:nth-child(1) {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 1px;
    color: #ffa438;
  }
  .contact-style .contact .contact-card::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 100%;
    background: #ffa438;
    right: 0;
    top: 0;
  }
}
.contact-style:hover::before {
  transform: scaleX(1);
  transform-origin: right;
}
.contact-style:hover .contact .contact-title {
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  z-index: 3;
  transition: 1s ease background;
}

.navbar-container-s {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  font-size: 19px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1;
  color: #ffa438;
  width: 100%;
  padding: 0.5rem;
}
.navbar-container-s .navbar-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: #ffa438;
  border-radius: 100px;
  width: 45px;
  height: 45px;
}
.navbar-container-s .social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  margin-left: auto;
}
.navbar-container-s .social-media .s-media-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 45px;
  height: 45px;
}
.navbar-container-s .social-media .s-media-item .s-m-link {
  text-decoration: none;
  color: #ffa438;
}

.offcanvas {
  border: none;
  overflow: visible;
  background: none;
  height: 45vh;
  transition: 0.5s ease all;
}
.offcanvas .offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  overflow: hidden;
  padding: 0;
  margin: 0 20px 20px 20px;
}
.offcanvas .offcanvas-body .oc-corner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 5px;
}
.offcanvas .offcanvas-body .oc-corner span {
  width: 10px;
  height: 10px;
  margin: 3px;
  border-radius: 1000px;
  background: #ffa438;
}
.offcanvas .offcanvas-body .oc-corner span:nth-child(2) {
  background: #ff3c00;
}
.offcanvas .offcanvas-body .oc-corner span:nth-child(3) {
  background: #007ef5;
}
.offcanvas .offcanvas-body .oc-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.offcanvas .offcanvas-body .oc-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
  list-style: none;
  padding: 1.25rem;
  margin: 0;
}
.offcanvas .offcanvas-body .oc-list-item .oc-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0.5rem;
}
.offcanvas .offcanvas-body .oc-list-item .oc-item .oc-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1;
  color: black;
  width: 55px;
  height: 55px;
  border-radius: 1000px;
  margin: 5px;
  overflow: hidden;
  position: relative;
}
.offcanvas .offcanvas-body .oc-list-item .oc-item .oc-link span {
  z-index: 2;
}
.offcanvas .offcanvas-body .oc-list-item .oc-item .oc-link::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
}
.offcanvas .offcanvas-body .oc-list-item .oc-item .oc-link-1 {
  background: #ff8d05;
}
.offcanvas .offcanvas-body .oc-list-item .oc-item .oc-link-2 {
  background: #ff3c00;
}
.offcanvas .offcanvas-body .oc-list-item .oc-item .oc-link-3 {
  background: #317a00;
}
.offcanvas .offcanvas-body .oc-list-item .oc-item .oc-link-4 {
  background: #007ef5;
}
.offcanvas .offcanvas-body .oc-list-item .oc-item .oc-span {
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1;
  color: black;
}
.offcanvas .offcanvas-body .oc-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: none;
  border: none;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.offcanvas-backdrop {
  background: rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(5px) !important;
}
.offcanvas-backdrop.show {
  opacity: 1 !important;
}

.menu-desktop .m-brand {
  text-decoration: none;
  width: 45px;
  height: 45px;
  overflow: hidden;
}
.menu-desktop .m-brand img {
  width: 100%;
}
.menu-desktop .m-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.menu-desktop .m-list .m-item {
  padding: 1rem;
}
.menu-desktop .m-list .m-item .m-link {
  text-decoration: none;
  color: #ffa438;
}

.footer-style {
  width: 100%;
  padding: 4rem 0 0.75rem;
  height: 30%;
}
.footer-style .footer-p {
  text-align: center;
  margin: 10px;
}
.footer-style .copyright {
  font-size: 11.25px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  text-align: center;
}

/*_________________ CHANGE BACKG _______________*/
body {
  color: white;
  background-color: #000000;
  transition: all 1s ease;
  font-family: sans-serif;
}

.panel {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

/* colours */
.color-darkness {
  background-color: #000000;
  color: #ffffff;
}

.color-lightness {
  background-color: #ffffff;
  color: #000000 !important;
}
.color-lightness header {
  background: white;
}
.color-lightness header .offcanvas-backdrop {
  background: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(5px) !important;
}
.color-lightness header .offcanvas-backdrop.show {
  opacity: 1 !important;
}
.color-lightness header .offcanvas-body .oc-panel {
  background: rgba(255, 164, 56, 0.4);
}
.color-lightness header .offcanvas-body .oc-button {
  color: #ffa438;
}
@media (min-width: 992px) {
  .color-lightness header .m-link {
    color: red;
  }
}

/*# sourceMappingURL=style.css.map */
