.paneltop {
    padding-top: 4rem;
}

.a-about {

    .a-about-description {
        @include m-display(flex, column, center, center);
        margin-bottom: 1rem;

        .a-title {
            @include m-text($s-text-supertitle * 1.15, bold, 1.15, 1.5px, $orange);
            text-align: center;
        }
    
        .a-text {
            text-align: center;
            @include m-text($s-text, normal, 1.25, .5px, $lightness);
            margin-bottom: 0.5rem;
        }
    
    }

    .grid-skills {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        justify-items: center;
        align-items: center;
        padding: 3rem 2rem 2rem;
        background-color: rgba(255 255 255 / 0.1);
        border-radius: 20px;
        height: 100%;
        position: relative;
        overflow: hidden;


        img {
            width: 100%;
        }

        .title-up {
            position: absolute;
            top: .5rem;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            color: rgba(255 255 255 / 0.1);
        }
    }

    @media (min-width: 992px) {
        .a-about-description {
            @include m-display(flex, column, center, start);
    
            .a-title {
                @include m-text($s-text-supertitle * 2, bold, 1.15, 1.5px, $orange);
                text-align: left;
                margin-bottom: 1rem;
            }
        
            .a-text {
                text-align: left;
                @include m-text($s-text+5px, normal, 1.25, .5px, $lightness);
                margin-bottom: 1rem;
            }
        
        }
        .grid-skills {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 1fr;
            justify-items: center;
            align-items: center;
            padding: 2rem;
            background-color: rgba(255 255 255 / 0.1);
            border-radius: 20px;
            height: 100%;
    
    
            img {
                max-width: 100px;
            }
        }
        
    }

}
.btn-mobile {
    @include m-display (flex, row, flex-end, center);
    
    .bt-corner {
        @include m-display (flex, row, space-between, start);
        margin-right: 5px;
    
        span {
            width: 10px;
            height: 10px;
            margin: 3px;
            border-radius: 1000px;
            background: $orange;
            opacity: .5;
    
            &:nth-child(2) {
                background: $color-red;
            }
    
            &:nth-child(3) {
                background: $color-blue;
            }
        }
    }
}