.s-w {
    @include m-display(flex, column, center, center);

    .s-w-title {
        @include m-text ($s-text-supertitle, bold, 1.5, 1.5px, $orange);

    }

    .s-w-grid {
        @include m-display(flex, row, center, center);
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        max-width: 800px;
        box-sizing: content-box;

        .s-w-card {
            width: 48%;
            height: 20vh;
            @include m-display(flex, column, center, center);
            border-radius: 7px;
            background: rgba($orange, 0.1);
            position: relative;
            // transition: 2s ease all;
            

            h3 {
                font-size: $s-text;
                text-align: center
            }

            ul {
                @include m-display(flex, row, end, center);
                align-self: flex-end;
                padding: 0;
                margin: 0;
                position: absolute;
                bottom: 0;

                li {
                    padding: .5rem;
                }
            }

            &:hover {
                background: linear-gradient(45deg, $lightness -10%, $orange 50%, $color-red 180%);
                transition: 2s ease all;
            }
        }

        .w-c-1,
        .w-c-3 {
            transform: translateY(40%);
        }
    }
}

.panel-int {
    @include m-display(flex, row, center, center);
    height: 100vh;
}